{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>
    리뷰 작성하기
    </h1>
    <form action="{% url 'review:create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label>상품명</label>
            <input type="text" class="form-control" name="product">
        </div>
        <div class="form-group">
            <label>평점</label>
            <textarea class="form-control" name="grade"></textarea>
        <div class="form-group">
            <label>내용</label>
            <textarea class="form-control" name="content"></textarea>
        <input type="submit" value="글 작성" class="btn btn-outline-primary">
    </form>
</div>
{% endblock %}
