{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
    <div class="container">
        <h1>좋아요를 누른 글 목록</h1>
        <a class="btn btn-outline-dark" href="{% url 'product:new' %}">상품 등록</a>
        <div class="row">
            {% for like in likes %}
            <div class="col-md-4 col-12">
                <div class="card" style="width: 18rem; margin-top: 20px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ like.product.title }}</h5>
                        <p>조회수 : {{ like.product.view_count }}</p>
                        <a href="{% url 'product:show' like.product.pk %}" class="btn btn-primary">상세보기</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
        <h3>로그인 후 이용이 가능합니다</h3>
        <a href="{% url 'account_login' %}" class="btn btn-warning">로그인</a>
        <a href="{% url 'account_signup' %}" class="btn btn-warning">회원가입</a>
    {% endif %}
</div>
{% endblock %}