{% extends 'base.html' %}
 {% block content %}
 <div class="container"> 
	<h1> 수정하기 </h1> 
	<form action="{% url 'product:update' product.id %}" method="POST" enctype="multipart/form-data"> 
		{% csrf_token %} 
		<div class="form-group">
			 <label>상품명</label> 
			<input type="text" class="form-control" name="title" value = "{{ product.title }}"> 
		</div>
		 <div class="form-group">
			 <label>설명</label>
			 <textarea class="form-control" name="content"> {{ product.content }} </textarea>
         </div>
        <div class="form-group">
            <label>가격</label> 
        <input type="text" class="form-control" name="price" value = "{{ product.price }}"> 
        </div>
        <div class="form-group">
            <label>재고</label> 
        <input type="text" class="form-control" name="stock" value = "{{ product.stock }}"> 
        </div>
        <input type="file" name="image" accept="image/*"> 
 		<input type="submit" value="글 수정" class="btn btn-outline-primary">
	 </form> 
</div>
 {% endblock %}